@import url('../../../public/icons.css');

.shelf {
  flex-basis: 60%;
  box-shadow: 0 -1px 0 1px rgba(30, 140, 150, .5);
}

.shelf .product {
  border-bottom: 1px solid rgba(30, 140, 150, .1);
  display: flex;
  align-items: center;
}

.shelf .color {
  width: 50px;
  height: 100px;
  min-width: 50px;
  text-align: center;
  position: relative;
  margin: 20px 25px 10px 30px;
  box-sizing: border-box;
  padding-top: 30px;
  text-transform: uppercase;
  box-shadow: 30px 0 20px -20px rgba(0, 0, 0, .3) inset, -30px 0 20px -20px rgba(255, 255, 255, .3) inset;
  border-radius: 100% 100% 0 0;
}

.shelf .color:before {
  content: "";
  display: block;
  position: absolute;
  background: inherit;
  width: 40px;
  height: 66px;
  border-radius: 50%;
  left: 5px;
  top: 2px;
  box-shadow: -15px -5px 20px 8px rgba(255, 255, 255, .2) inset, -2px -2px 5px 0 rgba(255, 255, 255, .2) inset;
}

.shelf .color:after {
  content: "";
  display: block;
  position: absolute;
  left: -5px;
  width: 60px;
  height: 20px;
  background: #dbd2b2;
  top: 90px;
  border-radius: 2px 2px 0 0;
  box-shadow: 40px 0 30px -20px rgba(0, 0, 0, .3) inset, -10px 0 10px -10px rgba(0, 0, 0, .2) inset, -40px 0px 30px -20px rgba(255, 255, 255, .8) inset, 0 6px 6px -6px rgba(0, 0, 0, .3) inset;
}

.shelf .name {
  flex-grow: 2;
  line-height: 1.2em;
  font-size: 26px;
  margin: 20px 20px 20px 0;
}

.shelf .category {
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
  line-height: 1.1;
}

.shelf .price {
  font-size: 32px;
  font-weight: 100;
  color: #666;
  margin: 20px 30px 20px 0;
}

.shelf .product > a {
  background: rgba(30, 140, 150, .3);
  align-self: stretch;
  padding: 13px;
  display: flex;
  align-items: center;
  color: rgb(30, 140, 150);
  font-size: 28px;
  text-decoration: none;
}